@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rock+Salt&display=swap');

/* MOD - RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MOD - HEADER*/

.main-header{
    /* =Adiciona imagem no fundo do código= */
    background-image: url(images/background-image.png); 
    /* -Alinha os elementos do eixo x e y*- /
    background-position: 50% 39%;
    /* -Colocar elementos centralizado- */
    display: flex;
    /* -alinha os elementos um embaixo do outro- */
    flex-direction:column ;
    /* -Alinha os elementos no centro- */
    align-items: center;
}
.main-nav{
    /*Ocupar toda área dísponivel*/
    width: 100%;
}

.header-list-container{
    /*Colocar os elementos na mesma linha*/
    display: flex;
    /*Adicionar espaçamento entre os itens*/
    justify-content: space-between;
    /*Garantir que os itens estejam alinhados*/
    align-items: center;
    /*primeiro é cima e baixo, depois é esquerda e direita*/
    padding: 16px 0;
}
.nav-item{
    /*Remove o estilos da lista == BOLINHA == */
    list-style-type: none;
    /*Deixa todas as letras em MAIÚSCULO*/
    text-transform: uppercase;

    color: #00008B;
}
hr{
    /*Faz a linha ocupar 100% da horizontal do site*/
    width: 100%;
}
.nav-item a{
    /*remove o underline da âncora*/
    text-decoration: none;
    /*Herda o cor do elemento pai (neste caso é o nav-item)*/
    color: inherit;
}
.nav-item:hover{
    /*Quando passamos o mouse em cima a sua cor troca / RGBA passa a cor e no final */
    color: rgba(0,0,139, 0.7);
    transition: 0.2s;
}
.main-about{
    /**/
    padding: 40px 0 64px;
}
.container{
    /*trava a largura máxima que definimos para o projeto*/
    max-width: 600px;
    /*primeiro é cima e baixo, depois é esquerda e direita*/
    padding: 0 16px;
    /*irá forçar a centralizar o objeto do site*/
    margin: 0 auto;
}
.about-title{
    /*Após o uso de uma fonte seria muito bom colocar outra, se no caso o sistema não encontrar a 1° opção,haverá a 2°*/
    font-family:  "roboto",cursive;
    /*tamanho da fonte*/
    font-size: 32px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.about-image{
    /*alinha a imagem a esquerda*/
    float: left;
    margin: 0 20px 10px 0; /*0 Topo, 20 direita ,10 baixo e 0 a esquerda*/
    /*diminuir os tamanhos das imagens*/
    /*largura*/
    width: 200px;
    /*Evita a distorção da imagem*/
    height: auto;
}